<% var class_name=""; %>
<% var i=0; %>
<% var j=0; %>
<%for(utilizator of utilizatori){ %>
  <div id=<%=i%>>
    <p id=<%="user"+i%>> <%=utilizator.username%></p>
    <% if(utilizator.username!='admin') %>
    <% if(utilizator.programari!=null){ %>
    <% j=0; %>
    <% for(var programare of utilizator.programari){ %>
    <% class_name=i.toString()+"-"+j.toString(); %> 
    <p><label id=<%="prog"+class_name%>> <%=programare.data%> - <%=programare.stare%> </label>  <button id="confirm" class=<%=class_name %>  >Confirmă</button> </p>
    <% j++; %>
    <% } %>
    <% } %>
    <% i++; %>
  </div>
<% } %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script type='text/javascript'>
$(document).ready("#confirm").click(function(e) {
              e.preventDefault();
              var ij=$(e.target).attr('class').split("-");
              var i=parseInt(ij[0]);
              var j=parseInt(ij[1]);
              alert($("#user"+i).html()+" "+$("#prog"+ij[0]+'-'+ij[1]).html()); ///merge aici 
            });
        
 </script>
