<main style="padding:40px;">
  <% var class_name=""; %>
  <% var i=0; %>
  <% var j=0; %>
  <%for(utilizator of utilizatori){ %>
    <div style="border-color: lightcoral;" id=<%=i %>>
      <div id=<%="user"+i%> class="user"><%=utilizator.username%>
        <span id=<%= i %> class="flip" style="width:20%" >Info</span>
        <br />
        <span id=<%="panel"+i%> class="panel"  >Varsta: <%=utilizatori_date[i+1].varsta%>, Ocupatie: <%=utilizatori_date[i+1].ocupatie%> </span>
      <div>
      <% if(utilizator.username!='admin') %>
      <% if(utilizator.programari!=null){ %>
      <% j=0; %>
      <% for(var programare of utilizator.programari){ %>
      <% class_name=i.toString()+"-"+j.toString(); %> 
      <p class="par" id=<%="paragraph"+class_name %> ><label id=<%="prog"+class_name%>><%=programare.data%> - <%=programare.stare%> </label> 
        <br />Comentariu: <%=programare.comentariu %> 
        <button id="confirm" class=<%=class_name %> >Confirmă</button> 
        <button id="delete" class=<%=class_name %> >Sterge</button>
      </p>
      <% j++; %>
      <% } %>
      <% } %>
      <% i++; %>
    </div>
  <% } %>
  </main>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script type='text/javascript'>
  $(document).ready(function() {
    $(".flip").click(function(e){
      e.preventDefault();
      var i=e.target.id;
      $("#panel"+i).slideDown("slow");
    });
    $(".panel").click(function(e){
      e.preventDefault();
      $(this).slideUp("slow");
    });
    $('li a').removeClass('active');
    $('.admin').addClass('active');
    $("button").click(function(e) {
                e.preventDefault();
                var ij=$(e.target).attr('class').split("-");
                var i=parseInt(ij[0]);
                var j=parseInt(ij[1]);
                
                $.post(url="/schimba-programare",{
                    username: $("#user"+i).html().split(" ")[0].split('\n')[0],
                    programare: $("#prog"+ij[0]+'-'+ij[1]).html().split(' - ')[0],
                    schimba: e.target.id
                    });
  
                if(e.target.id=='confirm')
                {
                  $("#prog"+ij[0]+'-'+ij[1]).html($("#prog"+ij[0]+'-'+ij[1]).html().split(' - ')[0]+" - confirmata");
                }
                if(e.target.id=='delete')
                {
                  $("#paragraph"+ij[0]+'-'+ij[1]).html("");
                }
              });
            });
   </script>
  